#tmsearch {
  margin: 0 15px 0 0;
  float: right; }
  @media (max-width: 991px) {
    #tmsearch {
      margin-bottom: 20px; } }
  @media (max-width: 767px) {
    #tmsearch {
      clear: right;
      margin-top: 0px;
      margin-right: 15px;
      margin-bottom: 15px; } }
  #tmsearch #tmsearchbox {
    overflow: hidden;
    position: relative; }
  #tmsearch .btn.button-search {
    display: block;
    float: left;
    border: none;
    width: 33px;
    text-align: center;
    padding: 0;
    height: 30x;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    #tmsearch .btn.button-search span {
      display: none; }
    #tmsearch .btn.button-search:before {
      content: "\f002";
      display: block;
      font-family: "FontAwesome";
      font-size: 17px;
      line-height: 30px;
      width: 100%;
      text-align: center; }
  #tmsearch #tm_search_query {
    display: inline-block;
    padding: 5px 12px;
    height: 30px;
    line-height: 20px;
    float: left;
    color: #333333;
    border: 1px solid #e2e2e2;
    border-right: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    width: 166px;
    margin: 0; }
    @media (max-width: 767px) {
      #tmsearch #tm_search_query {
        width: 256px; } }

body.isStuckBody .ac_results {
  position: fixed !important;
  top: 45px !important; }

body .ac_results {
  background: white;
  border: 1px solid #d6d4d4;
  border-top: none;
  width: 271px;
  margin-top: 0;
  display: none; }
  body .ac_results li:first-child {
    border: none; }
  body .ac_results li {
    padding: 15px;
    font-weight: normal;
    color: #686666;
    font-size: 13px;
    line-height: 22px;
    border-top: 1px solid #e2e2e2;
    cursor: pointer;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    body .ac_results li div.img-search {
      text-align: center;
      margin-bottom: 8px; }
      body .ac_results li div.img-search img {
        margin: 0 auto; }
    body .ac_results li.ac_odd {
      background: white; }
    body .ac_results li:hover, body .ac_results li.ac_over {
      background: #efefef; }
  body .ac_results .pull-left {
    margin-right: 20px; }
  body .ac_results .content {
    overflow: hidden; }
  body .ac_results span.reference, body .ac_results span.manufacturer {
    display: block;
    margin: 0 0 5px;
    font-size: 12px;
    color: #3a3939;
    line-height: 15px;
    font-style: italic; }
  body .ac_results span.product-name {
    font-size: 12px;
    line-height: 17px;
    display: inline-block;
    font-weight: 500; }
  body .ac_results strong {
    color: #f00; }
  body .ac_results .description {
    font-size: 11px;
    line-height: 15px; }
  body .ac_results .price {
    padding-right: 5px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    body .ac_results .content {
      float: left;
      clear: both; } }

form#tmsearchbox {
  position: relative; }
  form#tmsearchbox label {
    color: #333333; }
  form#tmsearchbox input#search_query_block {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left; }
  form#tmsearchbox .btn.btn-sm {
    float: left; }
    form#tmsearchbox .btn.btn-sm i {
      margin-right: 0; }
