.top_menu {
  padding: 7px 15px 0;
  float: left; }
  @media (max-width: 767px) {
    .top_menu {
      float: none;
      clear: both;
      padding: 4px 15px 0; } }

.stickUpTop {
  position: relative;
  width: 100%;
  left: 0;
  top: 0; }

.stickUpHolder {
  padding: 0;
  max-width: 100%; }

@media only screen and (max-width: 1199px) {
  .isStuck .container {
    padding-left: 15px;
    padding-right: 15px; } }
.top_menu > ul, .top_menu .stickUpHolder > ul {
  padding: 0; }
  .top_menu > ul > li, .top_menu .stickUpHolder > ul > li {
    float: left;
    margin-right: 22px; }
    .top_menu > ul > li > a, .top_menu .stickUpHolder > ul > li > a {
      display: block;
      color: #fff;
      font: normal 14px/18px "Ubuntu", sans-serif;
      text-transform: uppercase;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      @media (min-width: 768px) and (max-width: 1199px) {
        .top_menu > ul > li > a, .top_menu .stickUpHolder > ul > li > a {
          font-size: 13px; } }
      .top_menu > ul > li > a.sf-with-ul:after, .top_menu .stickUpHolder > ul > li > a.sf-with-ul:after {
        content: "\f103";
        font-size: 14px;
        line-height: 18px;
        display: inline-block;
        font-family: "FontAwesome";
        margin-left: 6px; }
    .top_menu > ul > li:hover > a, .top_menu > ul > li.sfHover > a, .top_menu > ul > li.sfHoverForce > a, .top_menu > ul > li > a:hover, .top_menu .stickUpHolder > ul > li:hover > a, .top_menu .stickUpHolder > ul > li.sfHover > a, .top_menu .stickUpHolder > ul > li.sfHoverForce > a, .top_menu .stickUpHolder > ul > li > a:hover {
      color: #fa832a; }
    .top_menu > ul > li:hover > span.menu-mobile-grover:before, .top_menu .stickUpHolder > ul > li:hover > span.menu-mobile-grover:before {
      color: #fff; }
    .top_menu > ul > li ul.is-simplemenu, .top_menu > ul > li ul.is-simplemenu ul, .top_menu .stickUpHolder > ul > li ul.is-simplemenu, .top_menu .stickUpHolder > ul > li ul.is-simplemenu ul {
      background: #fff;
      padding: 15px; }
      @media only screen and (min-width: 768px) {
        .top_menu > ul > li ul.is-simplemenu, .top_menu > ul > li ul.is-simplemenu ul, .top_menu .stickUpHolder > ul > li ul.is-simplemenu, .top_menu .stickUpHolder > ul > li ul.is-simplemenu ul {
          display: none;
          width: 200px;
          border: 1px solid #e2e2e2;
          top: 4px;
          right: -218px;
          position: absolute;
          z-index: 99; }
          .top_menu > ul > li ul.is-simplemenu li, .top_menu > ul > li ul.is-simplemenu ul li, .top_menu .stickUpHolder > ul > li ul.is-simplemenu li, .top_menu .stickUpHolder > ul > li ul.is-simplemenu ul li {
            line-height: 24px; } }
      @media only screen and (max-width: 767px) {
        .top_menu > ul > li ul.is-simplemenu ul, .top_menu > ul > li ul.is-simplemenu ul ul, .top_menu .stickUpHolder > ul > li ul.is-simplemenu ul, .top_menu .stickUpHolder > ul > li ul.is-simplemenu ul ul {
          padding: 5px 10px; } }
    .top_menu > ul > li > ul.is-simplemenu, .top_menu .stickUpHolder > ul > li > ul.is-simplemenu {
      right: auto;
      left: 0;
      top: 39px; }
    @media only screen and (max-width: 767px) {
      .top_menu > ul > li, .top_menu .stickUpHolder > ul > li {
        width: 100%;
        float: none;
        position: relative; }
        .top_menu > ul > li > a, .top_menu .stickUpHolder > ul > li > a {
          line-height: 28px; } }
.top_menu ul.menu, .top_menu .stickUpHolder ul.menu {
  margin: 0; }
  @media only screen and (max-width: 767px) {
    .top_menu ul.menu, .top_menu .stickUpHolder ul.menu {
      display: none;
      margin-top: 15px; } }
.top_menu li a, .top_menu .stickUpHolder li a {
  position: relative; }
.top_menu li.simple, .top_menu li li, .top_menu .stickUpHolder li.simple, .top_menu .stickUpHolder li li {
  position: relative; }
.top_menu .menu_badge, .top_menu .stickUpHolder .menu_badge {
  position: absolute;
  top: -16px;
  right: -11px;
  z-index: 2;
  font-size: 10px;
  display: inline-block;
  background: #fa832a;
  color: #fff;
  padding: 1px 5px 2px 5px;
  line-height: 12px;
  margin-left: 10px; }
  @media (max-width: 767px) {
    .top_menu .menu_badge, .top_menu .stickUpHolder .menu_badge {
      position: relative;
      top: -3px;
      right: 0; } }
.top_menu .is-megamenu, .top_menu .stickUpHolder .is-megamenu {
  width: 97.5%;
  padding: 0;
  background: #fff;
  border: 1px solid #e2e2e2;
  border-top: none;
  display: none;
  top: 46px; }
  @media (max-width: 1199px) {
    .top_menu .is-megamenu, .top_menu .stickUpHolder .is-megamenu {
      width: 97%; } }
  @media (max-width: 991px) {
    .top_menu .is-megamenu, .top_menu .stickUpHolder .is-megamenu {
      width: 96%;
      top: 92px; } }
  @media only screen and (min-width: 768px) {
    .top_menu .is-megamenu, .top_menu .stickUpHolder .is-megamenu {
      position: absolute;
      left: 15px; } }
  @media (max-width: 767px) {
    .top_menu .is-megamenu, .top_menu .stickUpHolder .is-megamenu {
      width: 100%;
      margin: 10px  0 15px; } }
  .top_menu .is-megamenu .megamenu-row, .top_menu .stickUpHolder .is-megamenu .megamenu-row {
    padding: 25px 20px 15px;
    margin: 0 !important; }
    @media (max-width: 1199px) {
      .top_menu .is-megamenu .megamenu-row, .top_menu .stickUpHolder .is-megamenu .megamenu-row {
        padding: 30px 15px 15px; } }
    .top_menu .is-megamenu .megamenu-row h3,
    .top_menu .is-megamenu .megamenu-row .custom-link a, .top_menu .stickUpHolder .is-megamenu .megamenu-row h3,
    .top_menu .stickUpHolder .is-megamenu .megamenu-row .custom-link a {
      font-size: 14px;
      line-height: 18px;
      color: #fa832a;
      font-weight: normal;
      font-family: "Ubuntu", sans-serif;
      text-transform: uppercase;
      margin: 0 0 16px; }
    .top_menu .is-megamenu .megamenu-row p, .top_menu .stickUpHolder .is-megamenu .megamenu-row p {
      color: #777;
      font-size: 12px;
      line-height: 17px;
      font-weight: 300;
      text-transform: none;
      margin-bottom: 13px; }
    .top_menu .is-megamenu .megamenu-row .custom-link a:hover, .top_menu .stickUpHolder .is-megamenu .megamenu-row .custom-link a:hover {
      color: #333333; }
    .top_menu .is-megamenu .megamenu-row .btn.btn-default, .top_menu .stickUpHolder .is-megamenu .megamenu-row .btn.btn-default {
      margin: 8px 0 0; }
    .top_menu .is-megamenu .megamenu-row .list_product_menu li.custom-link, .top_menu .stickUpHolder .is-megamenu .megamenu-row .list_product_menu li.custom-link {
      margin-bottom: 16px; }
    .top_menu .is-megamenu .megamenu-row .list_product_menu li.product-info, .top_menu .stickUpHolder .is-megamenu .megamenu-row .list_product_menu li.product-info {
      overflow: hidden;
      margin-bottom: 15px; }
      .top_menu .is-megamenu .megamenu-row .list_product_menu li.product-info .product-image, .top_menu .stickUpHolder .is-megamenu .megamenu-row .list_product_menu li.product-info .product-image {
        float: left;
        margin: 0 21px 10px 0;
        border: 1px solid #e2e2e2;
        padding: 5px; }
      .top_menu .is-megamenu .megamenu-row .list_product_menu li.product-info .product-description, .top_menu .stickUpHolder .is-megamenu .megamenu-row .list_product_menu li.product-info .product-description {
        margin-bottom: 11px; }
      .top_menu .is-megamenu .megamenu-row .list_product_menu li.product-info h5, .top_menu .stickUpHolder .is-megamenu .megamenu-row .list_product_menu li.product-info h5 {
        margin: 0 0 5px;
        padding: 0; }
        .top_menu .is-megamenu .megamenu-row .list_product_menu li.product-info h5 .product-name, .top_menu .stickUpHolder .is-megamenu .megamenu-row .list_product_menu li.product-info h5 .product-name {
          text-transform: none; }
    .top_menu .is-megamenu .megamenu-row .list-popular-services li, .top_menu .stickUpHolder .is-megamenu .megamenu-row .list-popular-services li {
      overflow: hidden;
      padding: 0 22px 10px 0; }
      @media (max-width: 1199px) {
        .top_menu .is-megamenu .megamenu-row .list-popular-services li, .top_menu .stickUpHolder .is-megamenu .megamenu-row .list-popular-services li {
          padding-right: 0; } }
    .top_menu .is-megamenu .megamenu-row .list-popular-services em, .top_menu .stickUpHolder .is-megamenu .megamenu-row .list-popular-services em {
      font-size: 0;
      line-height: 0;
      float: left;
      color: #fa832a;
      width: 52px;
      display: block; }
      .top_menu .is-megamenu .megamenu-row .list-popular-services em:before, .top_menu .stickUpHolder .is-megamenu .megamenu-row .list-popular-services em:before {
        font-size: 36px;
        line-height: 36px;
        font-weight: normal; }
    .top_menu .is-megamenu .megamenu-row .list-popular-services p, .top_menu .stickUpHolder .is-megamenu .megamenu-row .list-popular-services p {
      overflow: hidden; }
      .top_menu .is-megamenu .megamenu-row .list-popular-services p a, .top_menu .stickUpHolder .is-megamenu .megamenu-row .list-popular-services p a {
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      .top_menu .is-megamenu .megamenu-row .list-popular-services p a:hover, .top_menu .stickUpHolder .is-megamenu .megamenu-row .list-popular-services p a:hover {
        color: #fa832a; }
    .top_menu .is-megamenu .megamenu-row .list-catigory-menu li,
    .top_menu .is-megamenu .megamenu-row .list-brands-menu li, .top_menu .stickUpHolder .is-megamenu .megamenu-row .list-catigory-menu li,
    .top_menu .stickUpHolder .is-megamenu .megamenu-row .list-brands-menu li {
      padding: 0 0 8px; }
      .top_menu .is-megamenu .megamenu-row .list-catigory-menu li a,
      .top_menu .is-megamenu .megamenu-row .list-brands-menu li a, .top_menu .stickUpHolder .is-megamenu .megamenu-row .list-catigory-menu li a,
      .top_menu .stickUpHolder .is-megamenu .megamenu-row .list-brands-menu li a {
        font-size: 12px;
        line-height: 18px;
        color: #777;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        font-weight: normal;
        text-transform: none; }
        .top_menu .is-megamenu .megamenu-row .list-catigory-menu li a:hover,
        .top_menu .is-megamenu .megamenu-row .list-brands-menu li a:hover, .top_menu .stickUpHolder .is-megamenu .megamenu-row .list-catigory-menu li a:hover,
        .top_menu .stickUpHolder .is-megamenu .megamenu-row .list-brands-menu li a:hover {
          color: #fa832a; }
  .top_menu .is-megamenu .megamenu-row-2, .top_menu .stickUpHolder .is-megamenu .megamenu-row-2 {
    padding: 0 20px 30px; }
    @media (max-width: 767px) {
      .top_menu .is-megamenu .megamenu-row-2, .top_menu .stickUpHolder .is-megamenu .megamenu-row-2 {
        padding: 0 15px 15px; } }
    .top_menu .is-megamenu .megamenu-row-2 .content li a, .top_menu .stickUpHolder .is-megamenu .megamenu-row-2 .content li a {
      display: block;
      position: relative;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
      opacity: 1; }
      .top_menu .is-megamenu .megamenu-row-2 .content li a:hover, .top_menu .stickUpHolder .is-megamenu .megamenu-row-2 .content li a:hover {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
        opacity: 0.8; }
  .top_menu .is-megamenu ul.content > li > a, .top_menu .stickUpHolder .is-megamenu ul.content > li > a {
    font: normal 14px/18px "Ubuntu", sans-serif;
    color: #f68237;
    text-transform: uppercase; }
  .top_menu .is-megamenu ul.content ul, .top_menu .stickUpHolder .is-megamenu ul.content ul {
    opacity: 1 !important;
    display: block !important; }
.top_menu .menu-title, .top_menu .stickUpHolder .menu-title {
  position: relative;
  background: #fa832a;
  padding: 15px 20px;
  font: normal 14px/18px "Ubuntu", sans-serif;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer; }
  .top_menu .menu-title:hover, .top_menu .stickUpHolder .menu-title:hover {
    background: #fff;
    color: #333; }
  .top_menu .menu-title:after, .top_menu .stickUpHolder .menu-title:after {
    position: absolute;
    content: "\f067";
    font-family: "FontAwesome";
    height: 30px;
    width: 30px;
    font-size: 26px;
    top: 16px;
    right: 6px;
    cursor: pointer;
    z-index: 1; }
  .top_menu .menu-title.active:after, .top_menu .stickUpHolder .menu-title.active:after {
    content: "\f068"; }
  @media only screen and (min-width: 768px) {
    .top_menu .menu-title, .top_menu .stickUpHolder .menu-title {
      display: none; } }
.top_menu .menu-mobile-grover, .top_menu .stickUpHolder .menu-mobile-grover {
  position: absolute;
  z-index: 1;
  top: 8px;
  right: 4px;
  height: 30px;
  width: 30px;
  color: #fff;
  text-align: center; }
  .top_menu .menu-mobile-grover:before, .top_menu .stickUpHolder .menu-mobile-grover:before {
    content: "\f067";
    font-family: "FontAwesome";
    font-size: 22px;
    cursor: pointer;
    z-index: 1; }
  @media only screen and (min-width: 768px) {
    .top_menu .menu-mobile-grover, .top_menu .stickUpHolder .menu-mobile-grover {
      display: none; } }
.top_menu .menu-mobile-grover.active:before, .top_menu .stickUpHolder .menu-mobile-grover.active:before {
  content: "\f068"; }
@media only screen and (max-width: 767px) {
  .top_menu .is-simplemenu, .top_menu .stickUpHolder .is-simplemenu {
    margin: 10px 0; }
    .top_menu .is-simplemenu li .menu-mobile-grover, .top_menu .stickUpHolder .is-simplemenu li .menu-mobile-grover {
      height: 20px;
      width: 20px;
      top: 4px; }
      .top_menu .is-simplemenu li .menu-mobile-grover:before, .top_menu .stickUpHolder .is-simplemenu li .menu-mobile-grover:before {
        top: 8px;
        right: 0;
        font-size: 18px;
        color: #333333; }
    .top_menu .is-simplemenu li a, .top_menu .stickUpHolder .is-simplemenu li a {
      display: block;
      font-size: 14px;
      line-height: 22px; }
    .top_menu .is-simplemenu li ul, .top_menu .stickUpHolder .is-simplemenu li ul {
      padding: 5px; }
    .top_menu .is-simplemenu li li li a, .top_menu .stickUpHolder .is-simplemenu li li li a {
      padding-left: 30px; }
    .top_menu .is-simplemenu li li li li a, .top_menu .stickUpHolder .is-simplemenu li li li li a {
      padding-left: 40px; }
  .top_menu li.simple ul, .top_menu .stickUpHolder li.simple ul {
    display: none; } }
@media only screen and (max-width: 767px) and (max-width: 767px) {
  .top_menu .megamenu-col, .top_menu .stickUpHolder .megamenu-col {
    padding-bottom: 18px; } }
@media only screen and (max-width: 767px) {
  .top_menu .megamenu-col.col-sm-3, .top_menu .stickUpHolder .megamenu-col.col-sm-3 {
    float: left;
    width: 50%; }
    .top_menu .megamenu-col.col-sm-3.first-in-line-sm, .top_menu .stickUpHolder .megamenu-col.col-sm-3.first-in-line-sm {
      clear: left; } }
@media only screen and (max-width: 480px) {
  .top_menu .megamenu-col.col-sm-3, .top_menu .stickUpHolder .megamenu-col.col-sm-3 {
    width: 100%; } }

.red {
  background: #f00; }

/**** Left/Right column menu ****/
.left_column_menu .block_content li, .right_column_menu .block_content li {
  position: relative; }
.left_column_menu .block_content li.simple ul, .right_column_menu .block_content li.simple ul {
  display: none; }
  @media only screen and (min-width: 768px) {
    .left_column_menu .block_content li.simple ul, .right_column_menu .block_content li.simple ul {
      position: absolute;
      top: -1px;
      width: 200px;
      border: 1px solid #ccc;
      background: #fff;
      z-index: 999; } }
  @media only screen and (max-width: 767px) {
    .left_column_menu .block_content li.simple ul li, .right_column_menu .block_content li.simple ul li {
      border-top: 1px solid #ccc;
      position: relative; }
      .left_column_menu .block_content li.simple ul li a, .right_column_menu .block_content li.simple ul li a {
        display: block;
        padding: 10px 0 10px 15px;
        position: relative; }
      .left_column_menu .block_content li.simple ul li li a, .right_column_menu .block_content li.simple ul li li a {
        padding-left: 25px; } }
.left_column_menu .block_content > ul > li, .right_column_menu .block_content > ul > li {
  border-top: 1px solid #ccc;
  position: relative;
  padding: 10px 20px 15px; }
  .left_column_menu .block_content > ul > li > a, .right_column_menu .block_content > ul > li > a {
    display: inline-block;
    position: relative;
    font-size: 21px;
    line-height: 24px;
    color: #333;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .left_column_menu .block_content > ul > li > a:hover, .right_column_menu .block_content > ul > li > a:hover {
      color: #fa832a; }
.left_column_menu .block_content span.menu_badge, .right_column_menu .block_content span.menu_badge {
  font-size: 10px;
  display: inline-block;
  background: #f00;
  color: #fff;
  padding: 1px 5px 2px 5px;
  line-height: 12px;
  margin-left: 10px; }
.left_column_menu .block_content li.simple li a, .right_column_menu .block_content li.simple li a {
  padding: 4px 5px;
  display: block; }
.left_column_menu .block_content div.is-megamenu, .right_column_menu .block_content div.is-megamenu {
  display: none; }
  .left_column_menu .block_content div.is-megamenu ul, .right_column_menu .block_content div.is-megamenu ul {
    display: block !important;
    opacity: 1 !important; }
    .left_column_menu .block_content div.is-megamenu ul.content > li > a, .right_column_menu .block_content div.is-megamenu ul.content > li > a {
      font-weight: bold;
      text-transform: uppercase; }
    .left_column_menu .block_content div.is-megamenu ul.content > li li, .right_column_menu .block_content div.is-megamenu ul.content > li li {
      padding-left: 5px; }
  @media only screen and (min-width: 768px) {
    .left_column_menu .block_content div.is-megamenu, .right_column_menu .block_content div.is-megamenu {
      position: absolute;
      top: 0;
      width: 600px;
      padding: 15px;
      background: #fff;
      border: 1px solid #ccc;
      z-index: 999; } }
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .left_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3, .right_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3 {
      width: 50%;
      float: left; }
      .left_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3.first-in-line-sm, .right_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3.first-in-line-sm {
        clear: left; } }
.left_column_menu .block_content .menu-mobile-grover:after, .right_column_menu .block_content .menu-mobile-grover:after {
  position: absolute;
  right: 0;
  top: 12px;
  height: 15px;
  width: 15px;
  line-height: 15px;
  font-size: 15px;
  content: "\f067";
  font-family: 'FontAwesome';
  z-index: 1;
  cursor: pointer; }
.left_column_menu .block_content .menu-mobile-grover.active:after, .right_column_menu .block_content .menu-mobile-grover.active:after {
  content: "\f068"; }

.left_column_menu li.simple ul {
  right: -200px; }

.right_column_menu li.simple ul {
  left: -200px; }

.left_column_menu div.is-megamenu {
  right: -600px; }

.right_column_menu div.is-megamenu {
  left: -600px; }
