
@font-face {
	font-family: "material-design";
	src: url("#{$flaticon-path}/material-design.eot");
	src: url("#{$flaticon-path}/material-design.eot#iefix") format("embedded-opentype"),
	url("#{$flaticon-path}/material-design.woff") format("woff"),
	url("#{$flaticon-path}/material-design.ttf") format("truetype"),
	url("#{$flaticon-path}/material-design.svg") format("svg");
	font-weight: normal;
	font-style: normal;	
	
	
}
