<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>ruqop</name>
	<displayName><![CDATA[Quick order on product page (via phone)]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Module allows you to embed order form on product page]]></description>
	<author><![CDATA[PrestaDevRu]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>